.App {
  text-align: center;
}

#nav-title{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
}

.universe-root{
  background-image: linear-gradient(to right, #1e1e2f, #1d7586);
  width: 100%
}

.uv-selection1{
  width: 60%;
  margin: auto;
}

.cards-parent{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  width: 100%;
  background-image: linear-gradient(to right, #1e1e2f, #00d4ff)
}

.card{
  margin: 5%;
}

.card-img-custom {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#home-root{
  display: flex;
  flex-direction: row;
}

/* Sidebar container */
.Sidebar {
  width: 250px;
  background-color: #2F4050;
  overflow: hidden;
  width: 300px;
  background-color: #29293e;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.Sidebar-list .row{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sidebar title */
.sidebar-title {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #444;
  border-radius: 20px;
  padding-left: 20px;
}
.sidebar-title:hover{
  background-color: #3a3a50;
  color: #00d4ff;
}

/* Sidebar list */
.Sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style-type: none;
}

/* Each item wrapper */
.side-item {
    margin-bottom: 10px;
}

/* Common styles for all li */
.Sidebar-list li {
    display: flex;
    padding: 12px 15px;
    border-radius: 6px;
    /* transition: all 0.3s ease; */
}

/* -------------------------
   Styles for sidebar-tab (clickable)
   -------------------------- */
   .sidebar-tab {
      font-size: 0.9rem;
     cursor: pointer;
     background-color: #2a2a3d;
     content: "➔";
}

.sidebar-tab:hover {
    background-color: #3a3a50;
    color: #00d4ff;
    /* transform: translateX(3px); */
}

/* Add an icon on hover */
.sidebar-tab:hover::after {
    content: "➔";
    margin-left: 3px;
    color: #00d4ff;
    font-size: 14px;
}

/* -------------------------
   Styles for sidebar-label (non-clickable)
-------------------------- */
.sidebar-label {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-weight: bold;
    cursor: default;
}

.slides{
  padding-top: 110px;
}
.slide-img{
  height: 90vh;
  width: 100%;
}
.media-page{
  height: 150vh;
  width: 100%;
  background-color: rgb(65, 101, 125);
}
.empty-page{
  padding-top: 8%;
  height: 50vh;
  width: 80%;
}
#screener-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0078d4; /* Primary color */
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#screener-link:hover {
    transform: translateY(-4px);
    background-color: green;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}