.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Sidebar{
  width: 250px;
  background-color: #2F4050;
  overflow: hidden;
}
.Sidebar-list{
  height: auto;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.Sidebar-list .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar-title{
  font-size: 2rem;
  color: rgb(107, 107, 168);
}
.side-item{
  padding-left: 3%;
}
.row{
  margin-left: 100px;
  margin: 3%;
  padding: 3%;
}
.sidebar-label{
  font-size: 1.3em;
  color: wheat;
}
.sidebar-tab{
  color: white;
}
.sidebar-tab:hover{
  background-color: #293846;
  overflow: hidden;
}

.slides{
  padding-top: 110px;
}
.slide-img{
  height: 90vh;
  width: 100%;
}
.media-page{
  height: 150vh;
  width: 100%;
  background-color: rgb(65, 101, 125);
}
.empty-page{
  padding-top: 8%;
  height: 50vh;
  width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
